.messages-container {
  grid-column: span 2;
  border-top: 1px solid #cbcbcb;
}

.message-list-header {
  display: flex;
  align-items: baseline;
}

.message-btn {
  margin-left: 1em;
}

.message-btn:hover {
  text-decoration: underline;
}
