.landing-page-container {
  grid-column: span 3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 0.75fr;
}

.hero {
  grid-row: 1/2;
  place-self: center;
  text-align: center;
}

.landing-btn {
  font-size: 20px;
  margin-top: 10px;
}

.landing-btn-container {
  margin: 10px;
}
