.list-page-container {
  grid-column: span 3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 280px 5fr;
  border-top: 1px solid #dddddd;
  height: 100%;
}

.list-item a,
.list-item a:visted {
  text-decoration: none;
  color: black;
}

.new-list-btn {
  font-size: 0.9em;
  margin-top: 20px;
}

.new-list-btn:hover {
  text-decoration: underline;
}

.lists-list-container i {
  font-size: 1em;
}
.new-list-form label {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.new-list-form input {
  width: 25em;
  padding: 0.5em;
  margin: 0.5em 0em;
}

.create-list-btn {
  float: right;
  margin-right: 0;
}

.list-view-container {
  grid-column: 2/-1;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.lists-view-container,
h1 {
  margin: 0px;
}

.send-hour-input {
  font-weight: bold;
  width: 3em;
}

.list-title-description {
  width: 80%;
}

.list-options {
  font-weight: bold;
  width: 420px;
}

.isDisabled {
  font-weight: bold;
}

.delete-list-btn {
  color: rgb(176, 48, 48);
}
