.header {
  grid-row: 1/2;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 200px auto 200px;
}

.logo {
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 36px;
  font-weight: bold;
}

.logo-link {
  text-decoration: none;
  color: black;
}

.nav {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:visited {
  color: black;
}
