.header {
  grid-row: 1/2;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 200px 4fr 0.25fr;
}

.logo {
  grid-column: 1/2;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link {
  text-decoration: none;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:visited {
  color: black;
}

.nav-items {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-dropdown-btn {
  color: black;
  padding: 0px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  font-size: 1.75em;
  border-radius: 50%;
}

.nav-dropdown-btn:hover {
  color: #cbcbcb;
}

.nav-dropdown-btn:focus {
  outline: 0;
}

.nav-dropdown-menu {
  position: absolute;
  top: 76px;
  width: max-content;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  overflow: hidden;
  transition: height 1000ms ease;
  transform: translate(-20%);
}

.nav-dropdown-menu-list-item {
  height: 50px;
  padding: 0.5rem;
  cursor: pointer;
}

.drop-down-menu-item .icon-button {
  margin-right: 0.5rem;
}

.nav-dropdown-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
